* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    display: block; /* Ensures the image is treated as a block-level element */
    max-width: 960px;
    margin: auto;
    padding: 0 20px;
}

.header-icon {
    height: 190px; /* Or the size you want your icon to be */
    width: 190px; /* Keep the same as height for a square aspect ratio */
    border-radius: 50%; /* Optional: if you want a circular icon */
    margin-right: 10px; /* Adds some space between the icon and the title */
    vertical-align: middle; /* Aligns the icon with the middle of the text */
}

header {
    flex-direction: column; /* Stacks the image and text elements vertically */
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-text {
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin-bottom: 5px;
    font-weight: 600;
}

header p {
    font-weight: 300;
    color: #666;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
}

p {
    font-weight: 300;
    color: #666;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}

@media (max-width: 768px) {
    .container, footer {
        padding: 0 10px;
    }

    h1, h2 {
        font-size: 22px;
    }

    header p, section p, footer p {
        font-size: 16px;
    }
}
